@model TeamManager.Web.Models.Team.TeamListViewModel

<h3 class="page-title">Equipes</h3>

<a type="button" class="btn btn-success" href='@Url.Action("Create")' ><i class="fa fa-plus"></i> Nova Equipe</a>

<div class="row g-3 mt-5">
    @foreach(var team in Model.Teams)
    {
        <div class="col-sm-4">
            <div class="card" style="width: 23rem;">
                @*<img src="~/assets/uploadFiles/@team.PathAvatar" class="card-img-top" alt="@team.Name" width="350px" height="200px" />*@
                <div class="card-body ms-3">
                    <h3 class="card-title">@team.Name</h3>
                    <a href="@Url.Action("Collaborators", new { teamId = team.Id })" title="Integrantes" class="btn btn-secondary btn-md mt-2" style="width: 3.55rem;"><i  class="fa fa-users"></i></a>
                    <a href='@Url.Action("Edit", new { id = team.Id })' title="Editar Equipe" class="btn btn-secondary btn-md mt-2" style="width: 3.55rem;"><i class="fa fa-edit"></i></a>
                    <a href='@Url.Action("Delete", new { id = team.Id })' title="Remover Equipe" class="btn btn-secondary btn-md mt-2" style="width: 3.55rem;"><i class="fa fa-trash"></i></a>
                </div>
            </div>
        </div>
    }
</div>
